<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>282319936745-kf67nq8p4eg7tuted2gosk6jolct283d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282319936745-kf67nq8p4eg7tuted2gosk6jolct283d</string>
	<key>API_KEY</key>
	<string>AIzaSyDnv9-BCI5GYGplgUO1g_asPKtkVTM-f9U</string>
	<key>GCM_SENDER_ID</key>
	<string>282319936745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ongraph.ChatDemo</string>
	<key>PROJECT_ID</key>
	<string>chatdemo-fcd1f</string>
	<key>STORAGE_BUCKET</key>
	<string>chatdemo-fcd1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282319936745:ios:997829c6e952e66d212478</string>
	<key>DATABASE_URL</key>
	<string>https://chatdemo-fcd1f.firebaseio.com</string>
</dict>
</plist>